<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pinguinson.lesson7" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activities.FeedsListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".loading.RSSPullService"
            android:enabled="true"/>
        <provider android:name=".database.FeedsContentProvider" android:exported="true"
            android:readPermission="true" android:writePermission="true"
            android:authorities="com.pinguinson.lesson7" />
        <activity android:name=".activities.LoaderActivity"
            android:label="@string/app_name"/>
        <activity android:name=".activities.ShowArticleActivity"
            android:label="@string/app_name"/>
    </application>

</manifest>
